#!/usr/bin/env bash

# This does nothing for now

# No need to write the license to each node, it is stored in the backend storage

# Debugging purposes
echo "$(date) - This is a follower node, it joins to active node" > /tmp/vault_mode