## template: jinja
#!/usr/bin/env bash

# Fixing Systemd Unit file because of "Unknown lvalue 'StartLimitIntervalSec' in section 'Unit'"
cat << EOF > /usr/lib/systemd/system/vault.service
[Unit]
Description="HashiCorp Vault - A tool for managing secrets"
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/vault.d/vault.hcl

[Service]
User=vault
Group=vault
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes
ExecStart=/usr/bin/vault server -config=/etc/vault.d/vault.hcl
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
StartLimitInterval=60
StartLimitBurst=3
LimitNOFILE=65536
LimitMEMLOCK=infinity
StartLimitInterval=30s
StartLimitBurst=3
# Adding VAULT_LICENSE_PATH environment in case newer version of Vault > 1.8, so autoloading license can be provided. In case older version of Vault is used < 1.8 the VAULT_LICENSE_PATH env var has not meaning
Environment="VAULT_LICENSE_PATH=/home/ubuntu/_vaultSetup/license.hclic"

[Install]
WantedBy=multi-user.target
EOF

sudo systemctl daemon-reload

sudo systemctl stop vault
sudo systemctl start vault
