## template: jinja
#!/usr/bin/env bash

cat << EOF > /etc/vault.d/vault.hcl

# Common parameters
ui = true
cluster_name =  "cluster-${region}"
raw_storage_endpoint = true

#mlock = true
#This has to be explicitly set for Vault 1.20.x and later.
disable_mlock = false

# Setting log level
log_level = "${log_level}"

# Storage Raft stanza
storage "raft" {
  path = "/opt/vault/data"
  node_id = "${node_id}"
  retry_join {
    auto_join = "provider=aws addr_type=private_v4 tag_key=Name tag_value=vault-${region}-* region=${region}"
  }
}

# For Jinja templates - (dashes) in variable names should be replaced with _ (underscores)
cluster_addr = "https://{{ds.dynamic.instance_identity.document.privateIp}}:8201"
api_addr = "https://{{ds.dynamic.instance_identity.document.privateIp}}:8200"

# HTTPS listener
listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "/etc/vault.d/tls.crt"
  tls_key_file  = "/etc/vault.d/tls.key"
  telemetry {
    unauthenticated_metrics_access = true
  }
}

# Example AWS KMS auto unseal
seal "awskms" {
  region = "${region}"
  kms_key_id = "${kms_key_id}"
}
EOF

sudo chown -R vault:vault /etc/vault.d
sudo chmod -R 0644 /etc/vault.d/*

cat << EOF > /etc/profile.d/vault.sh
export VAULT_ADDR=https://127.0.0.1:8200
EOF
